<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="mi-visor-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!--
    <h2>Hello [[prop1]]!</h2>
    <h2>Mi valor es ==> [[prop2]]!</h2>
  -->
    <div class="container">
      <div class="row">
        <img class="col-lg-8 col-xs-12" src="https://bytebucket.org/CCC04/repotaller/raw/2afc62848a43ba8546428289692de806cfe08178/img/Ame.png" alt="MiImagenEnPolymer" />
      </div>
        <div class="row">
          <button class="btn btn-danger col-lg-4 col-xl-12" type="button" name="button" on-click="incrementar">MiBotonEnPolymer-ChargeData</button>
          <input class = "" placeholder="[[prop3]]" type="text" name="" value="{{prop1::input}}"/>
        </div>
            <div class="row">
              <table class="table table-striped col-lg-12 col-xs-12">
                <thead>
                  <th>ID      :</th>
                  <th>Nombre  :</th>
                  <th>Apellido:</th>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Carlos</td>
                    <td>Carrillo</td>
                  </tr>
                  <tr>
                    <td>[[prop2]]</td>
                    <td>[[prop1]]</td>
                    <td>Angie</td>
                  </tr>
                </tbody>
              </table>
            </div>
    </div>
  </template>

  <script>
  /**
     * @customElement
     * @polymer
     */
    class MiVisorApp extends Polymer.Element {
      static get is() { return 'mi-visor-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: ''
          },
          prop2: {
            type: Number,
            value: 999
          },
          prop3: {
            type: String,
            value: 'Indique su logIn.......'
          }
        };
      }
      incrementar() {
        this.prop2++;
        console.log(this.prop1);
      }

    }
    window.customElements.define(MiVisorApp.is, MiVisorApp);
  </script>
</dom-module>
